.hero{
    background: white url("../img/hero.jpg") no-repeat scroll center;
    background-size: cover;
}

.c-card img {
    transition: transform 0.3s ease-in-out;
}
.c-card:hover img {
    transform: scale(1.05);
}
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab.active{
    @apply border-b-2 border-blue-700 text-blue-500 font-medium;
}
